<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Weijia Fan</title>

  <meta name="author" content="Weijia Fan">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">
</head>

<body>
  <table width="950" border="0" align="center" cellspacing="0" cellpadding="0">
    <tr>
      <td>
        <table width="100%" align="center" border="0" cellspacing="0" cellpadding="20">
          <tr>
            <td width="67%" valign="middle">
              <p align="center">
                <name>Weijia Fan &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <!-- <img style="vertical-align:middle" src='image/wangtan_name.gif' height='50px' width='WIDTHpx'> -->
                </name>
              </p>
              <p>
                I'm Weijia Fan, currently a MPhill at Computer Vision Institute, Shenzhen University, Supervisor is <a
                  href="https://csse.szu.edu.cn/pages/user/index?id=953"> Can Gao</a>.
                Now my mainly concerned with Anomaly Detection and General Deep Backbone.


              </p>


              <p align=center>
                <a href="mailto:wakinghoursszu@outlookmail.com">Email</a> &nbsp/&nbsp
                <a href="../static/image/resume_en.pdf">CV</a> &nbsp/&nbsp
                <a href="https://github.com/WakingHours-GitHub">Github</a>

              </p>

            </td>
            <td width="33%">
              <img src="../static/image/8u.png" width="210">
            </td>
          </tr>
        </table>


        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <table width="100%" align="center" border="0" cellspacing="0" cellpadding="20">
          <tr>
            <td width="100%" valign="middle">
              <heading>News</heading>
              <p>
                FUCK YOU
                <!-- <li>
                  <strongsmall>[2022/09]</strongsmall> &nbsp;&nbsp;<smalll>Awarded <a
                      href="https://research.google/outreach/phd-fellowship/recipients/">
                      <strong>Google PhD Fellowship</a></strong>! Thanks, Google!</smalll><br /> -->
              </p>
            </td>
          </tr>
        </table>




        <table width="100%" align="center" border="0" cellspacing="0" cellpadding="20">
          <tr>
            <td width="100%" valign="middle">
              <heading>Education</heading>
            </td>
          </tr>
        </table>


        <!-- education -->
        <table width="100%" align="center" border="0" cellspacing="0" cellpadding="20">
          <tr>
            <td width="10%">
              <img src='../static/image/jialidun.png' width="100">
            </td>

            <td width="75%" valign="middle">
              <p>
                DON'T GO SCHOOL, AND STAY AT HOME!
                <!-- <stronghuge>University of Electronic Science and Technology of China (UESTC), China</stronghuge><br />
                Honours Degree in Electronic Information Engineering &nbsp;&nbsp;&nbsp;&nbsp; &bull; Sep. 2016 - Jun.
                2020 <br />
                GPA: <strong>92.98</strong>/100, &nbsp;&nbsp;Ranking: <strong>2/284</strong> (Overall) or
                <strong>1/415</strong> (first 2 years)<br />
                Supervisors: Prof. <a href="https://interxuxing.github.io/">Xing Xu</a> and Prof. <a
                  href="http://cfm.uestc.edu.cn/~yangyang/">Yang Yang</a>. &nbsp;&nbsp; Collaborated with Prof. <a
                  href="https://www.tudelft.nl/ewi/over-de-faculteit/afdelingen/intelligent-systems/multimedia-computing/people/alan-hanjalic/">Alan
                  Hanjalic</a> -->
              </p>
            </td>
          </tr>

        </table>





        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>

        <table width="100%" align="center" border="0" cellspacing="0" cellpadding="20">
          <tr>
            <td width="100%" valign="middle">
              <heading>Honors & Scholarships</heading>
              <div style="line-height:25px">
                <p>
                  NOTHING
                  <!-- <li>
                          <stronghuge>Google PhD Fellowship</stronghuge>,&nbsp; 2022<br />
                        <li>
                          <stronghuge>2022 PREMIA Best Student Paper Award (The Gold Award)</stronghuge>,&nbsp;
                          2022<br />
                        <li>
                          <stronghuge>Jury Prize in ICCV 2021 VIPriors Challenge</stronghuge>,&nbsp; 2021<br />
                        <li>
                          <stronghuge>NTU Research Scholarship</stronghuge>,&nbsp; 2020<br />
                        <li>
                          <stronghuge>Outstanding Graduates of Sichuan Province</stronghuge> (Top 1% student),&nbsp;
                          2020 &nbsp<a href="https://mp.weixin.qq.com/s/GEXwBLLaP3qCM3bZCx1kXw">[Press
                            Coverage]</a><br />
                        <li>
                          <stronghuge>Outstanding Undergraduate Thesis Award</stronghuge> (Top 2% student),&nbsp;
                          2020<br />
                        <li>
                          <stronghuge>National Scholarship</stronghuge> (Top 2% student),&nbsp; 2017, 2018<br />
                        <li>
                          <stronghuge>Tang Lixin Sponsored Elite Scholarship</stronghuge> (Only 60 awardees pre year in
                          UESTC),&nbsp; 2017 <br />
                        <li>
                          <stronghuge>Best Freshman Award</stronghuge> (Top 1 student per year in Department),&nbsp;
                          2016<br />
                        <li>
                          <stronghuge>Honor Student Scholarship</stronghuge> (Top 10 students per year in
                          Department),&nbsp; 2018<br />
                        <li>
                          <stronghuge>Outstanding Student Scholarship</stronghuge> (Top 10% student),&nbsp;
                          2017~2019<br /> -->
                </p>
              </div>
            </td>
          </tr>
        </table>







        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <table width="100%" align="center" border="0" cellspacing="0" cellpadding="20">
          <tr>
            <td width="100%" valign="middle">
              <heading>Personal Interests</heading>

              <p> ALWAYS NOTHING</p>
              <!-- <p>
                      <stronghuge>DOTA1</stronghuge>: My first and most playing PC game which accompanied me in my whole
                      middle and high school. And I got about 1350 score on the '11' Battle Platform Ladder Tournament.
                      :)
                    </p>
                    <p>
                      <stronghuge>Running</stronghuge>: During my college, I offen run a long distance for the pleasure
                      releasing. And I have participated in the Chengdu Shuangyi Marathon in 2018.
                    </p> -->
            </td>
          </tr>





          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <script type="text/javascript" id="clustrmaps"
            src="//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=250&t=tt&d=85Rlf3OqLYVhTE6hGEcHnAsDJl6O0EsUp326ZMpLzCI"></script>

          <table width="100%" align="center" border="0" cellspacing="0" cellpadding="20">
            <tbody>
              <tr>
                <td>
                  <br>
                  <p align="left">
                    <font size="2">
                      Last updated on Mar, 2023
                      <p align="middle">
                        <font size="2">
                          This awesome template borrowed from <a href="https://people.eecs.berkeley.edu/~barron/">this
                            guy</a>~
            </tbody>
          </table>


</body>

</html>