<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Weijia Fan(范玮嘉)</title>
  <meta name="author" content="Weijia Fan(范玮嘉)">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">
<body>
  <table width="842" border="0" align="center" cellspacing="0" cellpadding="0">
    <tr>
      <td>
        <table width="100%" align="center" border="0" cellspacing="0" cellpadding="20">
          <tr>
            <td width="70%" valign="middle">
              <p align="center">
                <name>Weijia Fan &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </name>
              </p>
              <p>
                Hi there! I'm weijia, a postgraduate student at the Computer Vision Institute (CVI), Shenzhen University, under the supervision of Professor Qiufu Li. The principal investigator (PI) of our institute is Professor Linlin Shen. 
                My previous research focuses on representation learning and visual recognition tasks. 
                Currently, I'm exploring research in multi-modal learning, vision-language models, multi-agent systems, and their applications in scene understanding, document analysis, and autonomous driving systems.
                <!-- My goal is to develop effective training strategies and loss functions that enhance the performance of these models across both common and downstream tasks. -->
            </p>
            <p>
                <span style="color: red;"></span>
                    I am actively <strong>seeking Ph.D. positions</strong> focused on multi-modal learning and computer vision.
                </span>
                If my research profile aligns with your interests, please contact me at:
                <a href="mailto:weijia.fan@partner.kit.edu">weijia dot fan at partner dot kit dot edu</a>.
                <!-- <a href="mailto:fanweijia2023@email.szu.edu.cn">fanweijia2023 at email dot szu dot edu dot cn</a>. -->
            </p>
            <p>
                <!-- I plan be a visit student in Feb. 2025 - Aug. 2025, I will try my best to seek financial source.  -->
                <!-- I plan to be a visiting student from February 2025 to August 2025, I will try my best to find funds for support this travel. -->
                <!-- I will be a visiting student from February to August 2025. I am actively seeking funding opportunities to support this study period. -->
                <!-- I am seeking be a visiting student from February to August 2025.  -->
            </p>
            <p>
                <!-- If you are interested in connecting with me, feel free to reach out via email:
                <a href="mailto:fanweijia2023@email.szu.edu.cn">fanweijia2023 at email dot szu dot edu dot cn</a> / 
                <a href="mailto:wakinghoursszu@outlook.com">wakinghoursszu at outlook dot com</a>. -->
            </p>
            
              <p align=center>
                <a href="mailto:wakinghoursszu@outlookmail.com">Email</a> &nbsp;/&nbsp;
                <!-- <a href="../static/CV/resume_en_weijia.pdf">CV_En</a> &nbsp/&nbsp -->
                <!-- <a href="../static/CV/Resume_zh_weijia.pdf">CV_Zh</a> &nbsp/&nbsp -->
                <!-- <a href="../static/CV/resume_en_weijia_20251016.pdf">CV_En</a> &nbsp/&nbsp -->
                <!-- <a href="../static/CV/resume_en_weijia_20251108.pdf" target="_blank">CV_En</a> &nbsp/&nbsp -->
                <a href="http://121.5.102.253:5000/static/CV/resume_en_weijia_20251219.pdf">CV_En</a> &nbsp;/&nbsp;
                <!-- <a href="https://github.com/WakingHours-GitHub/ObjectDetection-Platform/tree/master/static/CV/resume_en_weijia_20251124.pdf">CV_En</a> &nbsp;/&nbsp; -->
                 <!-- https://github.com/WakingHours-GitHub/ObjectDetection-Platform/tree/master/static/CV -->
                <!-- <a href="https://kristen-z.github.io/data/Dingxi%20Zhang_CV.pdf">CV</a> &nbsp;/&nbsp; -->
                <a href="../static/CV/Resume_zh_weijia_20251219.pdf" target="_blank">CV_Zh</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=FAaRWWcAAAAJ&hl=en">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://github.com/WakingHours-GitHub">Github</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/weijia-fan-45b316328/">Linkedin</a>
                <!-- <a href="http://121.5.102.253/">Personal Website</a> -->
              </p>

            </td>
            <td width="40%" style="text-align: center;">
                <!-- <img src="../static/image/8u.png" width="210"> -->
                <!-- <img src="static/image/figure_me_white.jpg" width="140"> -->
                <!-- <img src="static/image/weijia_Matterhorn.jpg" width="140" > -->
                <img src="static/image/weijia_Matterhorn.jpg" width="140" loading="lazy">
                <p><em>(Taken at the Matterhorn, Switzerland, 2025.)</em></p>
            </td>
          </tr>
        </table>


        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <table width="100%" align="center" border="0" cellspacing="0" cellpadding="20">
          <tr>
            <td width="100%" valign="middle">
              <heading>News</heading>
              <p>
                
                <li>
                    <strongsmall>[2025/11]</strongsmall> &nbsp;&nbsp;<smalll>
                      Our work, BCE3S, has been accepted by AAAI 2026! Thanks co-authors! arXiv: click this <a href="https://arxiv.org/abs/2511.14097" > link</a>.
                <br />
                <li>
                    <strongsmall>[2025/06]</strongsmall> &nbsp;&nbsp;<smalll>
                      <!-- I'm be Visiting Student for KIT, working with Dr.-Ing. Jiaming Zhang (https://jamycheung.github.io/) and Prof. Rainer Stiefelhagen. (https://cvhci.iar.kit.edu/people_596.php) -->
                      <!-- I will be a Visiting Student at KIT. -->
                       <!-- At present, I'm a visiting student at KIT, Karlsruhe, Germany. Great place for study and living! -->
                        At present, I'm a visiting student at KIT, Karlsruhe, Germany 🇩🇪. Great place for study and living 📚✨! This valubable opportunitiy is supported by Shenzhen University Overseas Exchange Study Scholarship, thanks Shenzhen University! 
                <br />
                <li>
                  <strongsmall>[2024/07]</strongsmall> &nbsp;&nbsp;<smalll>
                    Achieved <b>2nd</b> place in the Micro-Expression Recognition Competition at the China Conference on Affective Computing (CCAC).
                    Congratulations to Zihan and Hang Xiao for their outstanding performance!
                    For more details, visit the <a href="https://mea-lab-421.github.io/CCAC-page/" target="_blank">official competition page</a>.
              </p>
            </td>
          </tr>
        </table>


        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <table width="100%" align="center" border="0" cellspacing="0" cellpadding="20">
          <tr>
            <td width="100%" valign="middle">
              <heading>Works</heading>
              <p>
                <div style="font-size: 14px; line-height: 1.6; margin-left: 20px;">
                    <strong>
                        BCE3S: Binary Cross-entropy based Tripartite Synergistic Learning for Long-tailed Recognition
                    </strong><br>
                    <span>
                        <b>Weijia Fan</b>, Qiufu Li*, Jiajun Wen, Xiaoyang Peng
                         <!-- Weijia Fan -->
                         <!-- Anonymous -->
                    </span><br>
                    Proceedings of the 40th AAAI Conference on Artificial Intelligence (AAAI-26). 
                    <br>

                    <span>
                         We propose a BCE-based tripartite synergistic learning method (BCE3S) that enhances feature compactness, classifier separability, and balance between head and tail classes in long-tailed recognition tasks, achieving high accuracy on imbalanced datasets.
                    </span>
                </div>
              </p>
                <!-- <p>
                <div style="font-size: 14px; line-height: 1.6; margin-left: 20px;">
                    <strong>
                        Classification vs. Deep Feature Learning in Normalized Spaces with Different Scaling
                    </strong><br>
                    <span>
                        Anonymous
                        Qiufu Li, Huibin Xiao, <b>Weijia Fan</b>, Linlin Shen*
                    </span><br>
                    CoreA Submission
                    <br>
                    <span>
                         This work investigates the impact of different scaling factor in normalized spaces on classification and deep feature learning, revealing the differences between classification and deep feature learning.
                    </span>
                </div>
              </p> -->

              <p>
                <div style="font-size: 14px; line-height: 1.6; margin-left: 20px;">
                    <strong>
                        EPL: Empirical Prototype Learning for Deep Face Recognition
                    </strong><br>
                    <span>
                        <b>Weijia Fan</b>, Jiajun Wen, Xi Jia, Linlin Shen, Jiancan Zhou, Qiufu Li*
                    </span><br>
                    <a href="https://arxiv.org/abs/2405.12447" >
                        arxiv.org/2405.12447
                    </a>
                    <!-- Summited to KBS -->
                    <br>
                    <span>
                        <!-- 人脸识别算法，提出了经验原型，能够克服原型因为难阳本的问题 -->
                        We propose an Empirical Prototype Learning (EPL) method designed to mitigate performance degradation caused by hard samples tending to deviate the prototype away from the ideal class center.
                    </span>
                </div>
              </p>

              <p>
                <div style="font-size: 14px; line-height: 1.6; margin-left: 20px;">
                    <strong>
                        A short-term price prediction-based trading strategy
                    </strong><br>
                    <span>
                        <b>Weijia Fan</b>, Ru Zhang*, Hao He, Siyu Hou, Yongbo Tan
                    </span><br>
                    <a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0294970" >
                        Plos One 19 (3), e0294970
                    </a><br>
                    <span>
                        <!-- 基于短期价格预测的股票交易策略, 在黄金和比特币上的实例研究. -->
                        Stock trading strategies based on short-term price predictions, with case studies on gold and Bitcoin.
                    </span>
                </div>
            </p>
            <p>
                <div style="font-size: 14px; line-height: 1.6; margin-left: 20px;">
                    <strong>
                        Sailing through uncertainty: The impact of geopolitical risks on technology adoption in U.S. corporations—A corporate culture lens
                    </strong><br>
                    <span>
                        Shizhen Bai, Yongbo Tan, Chunjia Han, Mu Yang, <b>Weijia Fan</b>, Brij B Gupta, Varsha Arya
                    </span><br>
                    <a href="https://www.sciencedirect.com/science/article/abs/pii/S0040162525000563" >
                        Technological Forecasting and Social Change, 2025, 213: 124025.
                    </a><br>
                    <span>
                        
                    </span>
                </div>
            </p>
              <p>
                <div style="font-size: 14px; line-height: 1.6; margin-left: 20px;">
                    <strong>
                        Exploring thematic influences on theme park visitors' satisfaction: An empirical study on Disneyland China
                    </strong><br>
                    <span>
                        Shizhen Bai, Hao He, Chunjia Han*, Mu Yang, Dingyao Yu, Xinrui Bi, Brij B. Gupta*, <b>Weijia Fan</b>, Prabin Kumar Panigrahi
                    </span><br>
                    <a href="https://onlinelibrary.wiley.com/doi/pdf/10.1002/cb.2157" >
                        Journal of Consumer Behaviour 23 (1), 90-106
                    </a><br>
                    <span>
                        we analyze user-generated data using structural topic modeling to explore the impact of themes on visitor satisfaction at Shanghai Disneyland, revealing dynamic changes in visitor focus and the diminishing correlation between reviews and ratings over time, offering valuable insights into consumer behavior and tourism research.
                    </span>
                </div>
            </p>
            
            <p>
                <div style="font-size: 14px; line-height: 1.6; margin-left: 20px;">
                    <strong>
                        What makes a theme park experience less enjoyable? Evidence from online customer reviews of Disneyland China
                    </strong><br>
                    <span>
                        Shizhen Bai, Hao He, Chunjia Han, Mu Yang*, Xinrui Bi,<b>Weijia Fan</b>
                    </span><br>
                    <a href="https://www.frontiersin.org/journals/psychology/articles/10.3389/fpsyg.2023.1120483/full" >
                        Frontiers in Psychology 14, 1120483
                    </a><br>
                    <span>
                        <!-- 从中国迪士尼乐园的在线客户评论中，分析主题公园体验不愉快的原因。 -->
                        we leverage structural topic modeling and sentiment analysis on 112,000 reviews of Shanghai Disneyland to uncover key factors behind visitors’ dissatisfaction, providing insights into addressing issues like parking, service attitude, and entry processes to improve theme park management and visitor experience.
                    </span>
                </div>
            </p>
            
            </td>
          </tr>
        </table>
        
        <table width="100%" align="center" border="0" cellspacing="0" cellpadding="20">
          <tr>
            <td width="100%" valign="middle">
              <heading>Experience</heading>
            </td>
          </tr>
        </table>


        <!-- education -->
        <table width="100%" align="center" border="0" cellspacing="0" cellpadding="20">
            <tr>
                <td width="10%">
                  <img src='../static/image/KIT-logo.png' width="100">
                </td>
                <td width="75%" valign="middle">
                  <p>
                    <!-- <stronghuge>Karlsruhe Institute of Technology, Karlsruhe, Germany</stronghuge><br />
                     Visiting Student in Computer Vision for Human-Computer Interaction Lab (cv:hci) and Institute for Anthropomatics and Robotics (IAR)
                    working with Prof. Zhang. https://jamycheung.github.io/ -->
                    <stronghuge>Karlsruhe Institute of Technology, Karlsruhe, Germany</stronghuge><br />
                    Visiting Student at the Computer Vision for Human-Computer Interaction Lab (CV:HCI) and the Institute for Anthropomatics and Robotics (IAR). <br />
                    Working with <a href="https://jamycheung.github.io/" target="_blank">Prof. Jiaming Zhang</a> and <a href="https://cvhci.iar.kit.edu/people_596.php" target="_blank">Prof. Rainer Stiefelhagen</a>.
                  </p>
                </td>
            </tr>
          <tr>
            <td width="10%">
              <!-- <img src='../static/image/jialidun.png' width="100"> -->
              <img src='../static/image/Shenzhen_University_Logo.png' width="100">
            </td>

            <td width="75%" valign="middle">
              <p>
                <!-- DON'T GO SCHOOL, AND STAY AT HOME! -->
                <stronghuge>Shenzhen University, Shenzhen, China</stronghuge><br />
                <!-- Honours Degree in Electronic Information Engineering &nbsp;&nbsp;&nbsp;&nbsp; &bull; Sep. 2023 - Jun. -->
                Master's Degree in Computer Science (CS) &nbsp;&nbsp;&nbsp;&nbsp; &bull; Sep. 2023 - Jun. 2026 <br />
                GPA: <strong>3.65</strong>/4, &nbsp;&nbsp; Average Score: <strong>88.2</strong>/100, &nbsp;&nbsp; Ranking: <strong>22/132</strong> (Overall)<br />
                Supervisors: <a href="https://iip.szu.edu.cn/info/1037/1178.htm">Prof. Qiufu Li</a>.
                <!-- Prof. <a
                  href="http://cfm.uestc.edu.cn/~yangyang/">Yang Yang</a>. &nbsp;&nbsp; Collaborated with Prof. <a
                  href="https://www.tudelft.nl/ewi/over-de-faculteit/afdelingen/intelligent-systems/multimedia-computing/people/alan-hanjalic/">Alan
                  Hanjalic</a> -->
              </p>
            </td>
          </tr>
          <tr>
            <td width="10%">
              <!-- <img src='../static/image/jialidun.png' width="100"> -->
              <img src='../static/image/harbincommerce_logo.jpg' width="100">
            </td>

            <td width="75%" valign="middle">
              <p>
                <!-- DON'T GO SCHOOL, AND STAY AT HOME! -->
                <stronghuge>Harbin University of Commerce, Harbin, China</stronghuge><br />
                <!-- Honours Degree in Electronic Information Engineering &nbsp;&nbsp;&nbsp;&nbsp; &bull; Sep. 2023 - Jun. -->
                Bachelor's Degree in Internet of Things (IOT) &nbsp;&nbsp;&nbsp;&nbsp; &bull; Sep. 2019 - Jun. 2023 <br />
                GPA: <strong>3.67</strong>/4, &nbsp;&nbsp; Average Score: <strong>92.67</strong>/100, &nbsp;&nbsp; Ranking: <strong>1/118</strong> (Overall)<br />
                <!-- Supervisors: Prof. <a href="https://iip.szu.edu.cn/info/1037/1178.htm">Qiufu Li</a> -->
                <!-- Prof. <a
                  href="http://cfm.uestc.edu.cn/~yangyang/">Yang Yang</a>. &nbsp;&nbsp; Collaborated with Prof. <a
                  href="https://www.tudelft.nl/ewi/over-de-faculteit/afdelingen/intelligent-systems/multimedia-computing/people/alan-hanjalic/">Alan
                  Hanjalic</a> -->
              </p>
            </td>
          </tr>
        </table>


        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        
        <table width="100%" align="center" border="0" cellspacing="0" cellpadding="20">
            <tr>
              <td width="100%" valign="middle">
                <heading>Language</heading>
                <p>
                  <table width="100%" cellpadding="5" cellspacing="0" border="0" style="text-align: left;">
                    <tr>
                      <td style="width: 10%; text-align: left; font-weight: bold;">English: </td>
                      <!-- <td style="width: 80%;">IELTS (Dec. 2024):6.0 (Listening: 5.5, Reading: 7.0, Writing: 5.5, Speaking: 6.0)</td> -->
                      <td style="width: 80%;">IELTS (Jun. 2025):6.5 (Listening: 5.5, Reading: 6.5, Writing: 6.5, Speaking: 6.5)</td>

                    </tr>
                    <!-- <tr>
                      <td style="width: 10%; text-align: left; font-weight: bold;"></td>
                      <td style="width: 80%;">&thinsp;&thinsp;&thinsp;&thinsp;&emsp;&emsp;(Jun. 2025):6.5 (Listening: 5.5, Reading: 6.5, Writing: 6.5, Speaking: 6.5)</td>
                    </tr> -->
                    <tr>
                      <td style="width: 10%; text-align: left; font-weight: bold;">Mardine:</td>
                      <td style="width: 80%;">Native</td>
                    </tr>
                  </table>
                  <!-- Currently striving to improve my IELTS score. -->
                </p>
              </td>
            </tr>
          </table>

        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>

        <table width="100%" align="center" border="0" cellspacing="0" cellpadding="20">
          <tr>
            <td width="100%" valign="middle">
              <heading>Honors & Scholarships</heading>
              <div style="line-height:25px">
                <p>
                    <li><stronghuge>China National Scholarship (Rate<=0.02%)</stronghuge>,&nbsp; 2023<br/>
                    <li><stronghuge>Shenzhen University Overseas Exchange Study Scholarship </stronghuge>,&nbsp; 2025<br/>
                </p>
              </div>
            </td>
          </tr>
        </table>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <table width="100%" align="center" border="0" cellspacing="0" cellpadding="20">
          <tr>
            <td width="100%" valign="middle">
              <heading>Community Services</heading>
              <div style="line-height:25px">
                <p>
                    <stronghuge>AAAI 2026 reviewer</stronghuge>,&nbsp; 2025<br/>
                    <stronghuge>Patterns, Cell press</stronghuge>,&nbsp; 2025<br/>
                    <stronghuge>CoRL 2025 Workshop iCARE Reviewers </stronghuge>,&nbsp; 2025<br/>
                </p>
              </div>
            </td>
          </tr>
        </table>







        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <table width="100%" align="center" border="0" cellspacing="0" cellpadding="20">
          <tr>
            <td width="100%" valign="middle">
              <heading style="font-size: 24px; font-weight: bold; text-align: center; margin-bottom: 20px;">Personal Interests</heading>
              <div style="line-height: 1.8; font-size: 18px;">
                <p>
                  <span style="font-weight: bold; color: #2c3e50;">☕ Tea Ceremony</span><br>
                  Exploring the art and tradition of tea preparation and appreciation.
                </p>
                <p>
                  <span style="font-weight: bold; color: #27ae60;">🏃 Running</span><br>
                  Enjoying long-distance running for relaxation and fitness.
                </p>
                <p>
                  <span style="font-weight: bold; color: #2980b9;">🎵 Music</span><br>
                  A lover of classical music and its timeless melodies.
                </p>
                <p>
                  <span style="font-weight: bold; color: #8e44ad;">📸 Photography</span><br>
                  Capturing moments and landscapes through the lens.
                </p>
              </div>
            </td>
          </tr>
        </table>
        
        <table width="100%" align="center" border="0" cellspacing="0" cellpadding="20">
          <tr>
            <td width="100%" valign="middle">
              <heading>Photo Wall</heading>
              <p>I prefer city/natural landscope. </p>
              <div class="Photo-wall">
                    <!-- <div class="album">
                        <img src="../static/image/photo/20240620-_ANA9862-HDR-已增强-SR.jpg">
                        <div class="album-title">The Endless River</div>
                    </div> -->
                    <!-- <div>
                        <img src="../static/image/photo/20240620-_ANA9862-HDR-已增强-SR.jpg">
                        <div class="album-title">Black Dream</div>
                    </div> -->
                    <!-- <div>
                        <img src="../static/image/photo/20240620-_ANA9862-HDR-已增强-SR.jpg" 
                            style="width: 100%; max-width: 500px; height: auto; display: block; margin: 0 auto;">
                        <div class="album-title">Black Dream</div>
                    </div> -->
                    <div class="image-wall">
                        <!-- 缩略图
                        <img src="../static/image/photo/20240620-_ANA9862-HDR-已增强-SR.jpg" alt="Image 1" onclick="openModal('../static/image/photo/20240620-_ANA9862-HDR-已增强-SR.jpg')">
                        <img src="../static/image/photo/20240620-_ANA9770-已增强-SR.jpg" alt="Image 2" onclick="openModal('../static/image/photo/20240620-_ANA9770-已增强-SR.jpg')">
                        <img src="../static/image/photo/20240620-_ANA9834-HDR-已增强-SR.jpg" alt="Image 3" onclick="openModal('../static/image/photo/20240620-_ANA9834-HDR-已增强-SR.jpg')">  -->
                        <!-- <img src="../static/image/photo/another-image.jpg" alt="Image 2" onclick="openModal('../static/image/photo/another-image.jpg')"> -->
                        <!-- <img src="../static/image/photo/sample-image.jpg" alt="Image 3" onclick="openModal('../static/image/photo/sample-image.jpg')"> -->
                    </div>
                
                    <!-- 弹窗 -->
                    <div id="image-modal" class="modal">
                        <span class="close" onclick="closeModal()">×</span> <!-- 关闭按钮 -->
                        <img id="modal-img" src="" alt="Large Image">
                    </div>
                
                    <script>
                        // 打开弹窗并显示大图
                        function openModal(imageSrc) {
                            const modal = document.getElementById('image-modal');
                            const modalImg = document.getElementById('modal-img');
                
                            modalImg.src = imageSrc; // 设置弹窗中图片的路径
                            modal.style.display = 'flex'; // 显示弹窗
                        }
                
                        // 关闭弹窗
                        function closeModal() {
                            const modal = document.getElementById('image-modal');
                            modal.style.display = 'none'; // 隐藏弹窗
                        }
                
                        // 点击弹窗外部时关闭弹窗
                        window.onclick = function(event) {
                            const modal = document.getElementById('image-modal');
                            if (event.target === modal) {
                                modal.style.display = 'none';
                            }
                        }
                    </script>
                    <!-- <div id="modal-01" class="popup-modal mfp-hide"> -->
<!-- 
                        <img class="scale-with-grid" src="../static/image/photo/20240620-_ANA9862-HDR-已增强-SR.jpg" alt="" />
          
                        <div class="description-box">
                            <h4>Computer Vision</h4>
                            <p>基于Python-OpenCV的机器视觉项目, 利用Google提供的21个关节点, 通过编写处理类和控制类, 实现对系统音量的控制</p>
                         <span class="categories"><i class="fa fa-tag"></i>python, OpenCv</span>
                        </div>
          
                      <div class="link-box">
                         <a href="https://github.com/WakingHours-GitHub/ComputerVision" target="_blank">GitHub</a>
                           <a class="popup-modal-dismiss">Close</a>
                      </div> -->
          
                    <!-- </div> --><!-- modal-01 End -->
                </div>
              </td>
            </tr>

          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <table width="100%" align="center" border="0" cellspacing="0" cellpadding="20">
            <tr>
              <td width="100%" valign="middle">
                <heading>Album Wall</heading>
                <p><a href="https://en.wikipedia.org/wiki/Pink_Floyd">Pink Floyd</a>, my favorite band, is known for their progressive rock and psychedelic rock. Their work is beyond words—simply fantastic. </p>
                <p><a href="https://en.wikipedia.org/wiki/Dou_Wei">Wei Dou</a>, one of China's greatest rock artists, is another of my inspirations. </p>
                <p><a href="https://en.wikipedia.org/wiki/Faye_Wong">Faye Wong (Shirley Wong)</a> an iconic singer, whose voice is timeless and captivating. </p>
                <div class="album-wall">
                    <div class="album">
                        <img src="../static/music_wall/pink_river.jpg" alt="pink river">
                        <div class="album-title">The Endless River</div>
                    </div>
                    <div class="album">
                        <img src="../static/music_wall/pink_pause.jpg" alt="Pink Pause">
                        <div class="album-title">Pulse</div>
                    </div>
                    <div class="album">
                        <img src="../static/music_wall/pink_dark.jpg" alt="Pink Dark">
                        <div class="album-title">The Dark Side of the Moon</div>
                    </div>
                    <div class="album">
                        <img src="../static/music_wall/pink_wall.jpg" alt="Pink Wall">
                        <div class="album-title">The Wall</div>
                    </div>
                    <div class="album">
                        <img src="../static/music_wall/pink_wish.jpg" alt="Pink Wish">
                        <div class="album-title">Wish You Were Here</div>
                    </div>
                    <!-- Album 1 -->
                    <div class="album">
                        <img src="../static/music_wall/dw_blackdream.jpg" alt="Black Dream">
                        <div class="album-title">Black Dream</div>
                    </div>
                    <!-- Album 2 -->
                    <div class="album">
                        <img src="../static/music_wall/pink_animal.jpg" alt="Pink Animal">
                        <div class="album-title">Animals</div>
                    </div>
                    <!-- Album 3 -->
                    <div class="album">
                        <img src="../static/music_wall/pink_auto.jpg" alt="Pink Auto">
                        <div class="album-title">Atom Heart Mother</div>
                    </div>
                    <!-- Album 4 -->
                    <div class="album">
                        <img src="../static/music_wall/pink_ball.jpg" alt="Pink Ball">
                        <div class="album-title">The Division Bell</div>
                    </div>
                    
                    <!-- Album 7 -->
                    <!-- <div class="album">
                        <img src="../static/music_wall/pink_piper.jpg" alt="Pink Piper">
                        <div class="album-title">The Piper at the Gates of Dawn</div>
                    </div> -->
                    
                    <div class="album">
                        <img src="../static/music_wall/wf_shadow.jpg" alt="WF Shadow">
                        <div class="album-title">The Sky</div>
                    </div>

                    
                </div>
              </td>
            </tr>

          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>



          <script type="text/javascript" id="clustrmaps"
            src="//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=250&t=tt&d=85Rlf3OqLYVhTE6hGEcHnAsDJl6O0EsUp326ZMpLzCI"></script>


          <table width="100%" align="center" border="0" cellspacing="0" cellpadding="20">
            <tbody>
              <tr>
                <td>
                  <br>
                  <p>
                    Thank you for visiting my page and taking the time to explore my work. 
                    <!-- Your interest and support mean a lot to me.  -->
                    I hope you found something inspiring here. Feel free to leave your footprints and come back anytime!
                </p>
                  <p align="left">
                    <font size="2">
                      Last updated on Dec. 2025
                      <p align="middle">
                        <font size="2">
                          This awesome template borrowed from <a href="https://people.eecs.berkeley.edu/~barron/">here</a>
            </tbody>
          </table>
            

</body>

</html>
